In [324]:
import numpy as np, pandas as pd, matplotlib.pyplot as plt
import seaborn as sns

In [325]:
data=pd.read_csv('C:/Users/sai kiran/Downloads/loan_final313 - Copy.csv')
data.head()

,id,year,issue_d,final_d,emp_length_int,home_ownership,home_ownership_cat,income_category,annual_inc,income_cat,...,loan_condition_cat,interest_rate,grade,grade_cat,dti,total_pymnt,total_rec_prncp,recoveries,installment,region
0,1077501,2011,01/12/2011,1012015,10.0,RENT,1,Low,24000,1,...,0,10.65,B,2,27.65,5861.071414,5000.00,0.00,162.87,munster
1,1077430,2011,01/12/2011,1042013,0.5,RENT,1,Low,30000,1,...,1,15.27,C,3,1.00,1008.710000,456.46,117.08,59.83,leinster
2,1077175,2011,01/12/2011,1062014,10.0,RENT,1,Low,12252,1,...,0,15.96,C,3,8.72,3003.653644,2400.00,0.00,84.33,cannught
3,1076863,2011,01/12/2011,1012015,10.0,RENT,1,Low,49200,1,...,0,13.49,C,3,20.00,12226.302210,10000.00,0.00,339.31,ulster
4,1075358,2011,01/12/2011,1012016,1.0,RENT,1,Low,80000,1,...,0,12.69,B,2,17.94,3242.170000,2233.10,0.00,67.79,ulster

## Feature Elimination
### will remove all redundant features as both the columns such as 'home_ownership' and 'home_ownership_cat' mean the same
### will remove features such as ''application_type_cat'' as they doesn't impact the target class (from visualisation)

In [326]:
data.drop(['id','home_ownership','income_category','annual_inc','term','application_type','purpose','interest_payments','grade','dti','application_type_cat','recoveries'],axis=1,inplace=True)
data.head()

,year,issue_d,final_d,emp_length_int,home_ownership_cat,income_cat,loan_amount,term_cat,purpose_cat,interest_payment_cat,loan_condition,loan_condition_cat,interest_rate,grade_cat,total_pymnt,total_rec_prncp,installment,region
0,2011,01/12/2011,1012015,10.0,1,1,5000,1,1,1,Good Loan,0,10.65,2,5861.071414,5000.00,162.87,munster
1,2011,01/12/2011,1042013,0.5,1,1,2500,2,2,2,Bad Loan,1,15.27,3,1008.710000,456.46,59.83,leinster
2,2011,01/12/2011,1062014,10.0,1,1,2400,1,3,2,Good Loan,0,15.96,3,3003.653644,2400.00,84.33,cannught
3,2011,01/12/2011,1012015,10.0,1,1,10000,1,4,2,Good Loan,0,13.49,3,12226.302210,10000.00,339.31,ulster
4,2011,01/12/2011,1012016,1.0,1,1,3000,2,4,1,Good Loan,0,12.69,2,3242.170000,2233.10,67.79,ulster

### Handling categorical values

In [327]:
data['region'].value_counts()

leinster        214646
ulster          208731
Northern-Irl    204399
cannught        155029
munster         104574
Name: region, dtype: int64

In [328]:
data['region'].replace('leinster',0,inplace=True)
data['region'].replace('ulster',1,inplace=True)
data['region'].replace('Northern-Irl',2,inplace=True)
data['region'].replace('cannught',3,inplace=True)
data['region'].replace('munster',4,inplace=True)

In [329]:
data['region'].value_counts()

0    214646
1    208731
2    204399
3    155029
4    104574
Name: region, dtype: int64

In [330]:
data['year'].value_counts()

2015    421094
2014    235628
2013    134755
2012     53367
2011     21721
2010     12537
2009      5281
2008      2393
2007       603
Name: year, dtype: int64

In [331]:
### Creating New Features  length=issue_d - final_d

In [332]:
data.drop(['issue_d','final_d'],axis=1,inplace=True)

### Applying Binning to Numerical features (from visualisation)

In [333]:
bins=[0,2,8,11]
labels=[0,1,2]
data['emp_length_int']=pd.cut(data['emp_length_int'],bins=bins,labels=labels)

In [334]:
data['emp_length_int'].value_counts()

1    354583
2    326226
0    206570
Name: emp_length_int, dtype: int64

In [335]:
bins=[0,5000,20000,35000]
labels=[0,1,2]
data['loan_amount']=pd.cut(data['loan_amount'],bins=bins,labels=labels)

In [336]:
data['loan_amount'].value_counts()

1    583862
2    200837
0    102680
Name: loan_amount, dtype: int64

In [337]:
bins=[0,5,10,15,20,25,30]
labels=[0,1,2,3,4,5]
data['interest_rate']=pd.cut(data['interest_rate'],bins=bins,labels=labels)

In [338]:
data['interest_rate'].value_counts()

2    372060
1    235621
3    221068
4     52137
5      6493
0         0
Name: interest_rate, dtype: int64

In [339]:
bins=[0,5000,10000,15000,20000,30000,50000]
labels=[0,1,2,3,4,5]
data['total_pymnt']=pd.cut(data['total_pymnt'],bins=bins,labels=labels)

In [340]:
data['total_pymnt'].value_counts()

0    431628
1    198680
2    108090
3     57818
4     52370
5     20816
Name: total_pymnt, dtype: int64

In [341]:
bins=[0,2500,5000,10000,15000,35000]
labels=[0,1,2,3,4]
data['total_rec_prncp']=pd.cut(data['total_rec_prncp'],bins=bins,labels=labels)

In [342]:
data['total_rec_prncp'].value_counts()

0    362111
1    177233
2    170898
4     82289
3     76668
Name: total_rec_prncp, dtype: int64

In [343]:
bins=[0,300,600,800,1200,1400]
labels=[0,1,2,3,4]
data['installment']=pd.cut(data['installment'],bins=bins,labels=labels)

In [344]:
data['installment'].value_counts()

1    397791
0    288874
2    120875
3     73014
4      6790
Name: installment, dtype: int64

In [345]:
data.head()

,year,emp_length_int,home_ownership_cat,income_cat,loan_amount,term_cat,purpose_cat,interest_payment_cat,loan_condition,loan_condition_cat,interest_rate,grade_cat,total_pymnt,total_rec_prncp,installment,region
0,2011,2,1,1,0,1,1,1,Good Loan,0,2,2,1,1,0,4
1,2011,0,1,1,0,2,2,2,Bad Loan,1,3,3,0,0,0,0
2,2011,2,1,1,0,1,3,2,Good Loan,0,3,3,0,0,0,3
3,2011,2,1,1,1,1,4,2,Good Loan,0,2,3,2,2,1,1
4,2011,0,1,1,0,2,4,1,Good Loan,0,2,2,0,0,0,1

### Label Encoder

In [346]:
from sklearn.preprocessing import LabelEncoder
l=LabelEncoder()
data['year']=l.fit_transform(data['year'])
l=LabelEncoder()
data['loan_condition']=l.fit_transform(data['loan_condition'])

### Algorithemic Part

In [347]:
from sklearn.metrics import accuracy_score,confusion_matrix
from sklearn.cross_validation import train_test_split
from sklearn.linear_model import LogisticRegression,Perceptron
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
data=data.dropna()
y=data['loan_condition'].values
data.drop('loan_condition',axis=1,inplace=True)
x=data[:].values
y=y.reshape(-1, 1)
x_train,x_test,y_train,y_test = train_test_split(x,y)

In [348]:
print(x,y)
print(x.shape,y.shape)

[[4 2 1 ... 1 0 4]
 [4 0 1 ... 0 0 0]
 [4 2 1 ... 0 0 3]
 ...
 [8 1 1 ... 0 1 0]
 [8 0 1 ... 0 1 2]
 [8 2 1 ... 2 2 0]] [[1]
 [0]
 [1]
 ...
 [1]
 [1]
 [1]]
(868946, 15) (868946, 1)

In [349]:
logistic=LogisticRegression()
forest=RandomForestClassifier
logistic.fit(x_train,y_train)
pred=logistic.predict(x_test)
print(accuracy_score(pred,y_test))
confusion_matrix(pred,y_test)

C:\Anaconda3\lib\site-packages\sklearn\utils\validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

1.0

array([[ 16575,      0],
       [     0, 200662]], dtype=int64)